<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{dd/MM/yyyy HH:mm:ss}{America/Chicago} - %-5p [%c:%L] %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.epickur.api" level="debug">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.mongodb.driver" level="warn">
      <AppenderRef ref="Console" />
    </Logger>
		<Logger name="org.quartz" level="warn">
      <AppenderRef ref="Console" />
    </Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>