<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
	<Properties>
		<Property name="logs_directory">$${env:CATALINA_BASE}/logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss}{America/Chicago} - %-5p [%c:%L] %m%n"/>
		</Console>
		<RollingRandomAccessFile name="File" fileName="${logs_directory}/epickur.log"
								 filePattern="${logs_directory}/archive/epickur-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<AsyncLogger name="com.epickur.api" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="com.epickur.api.dao" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="com.amazonaws.http" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.jboss.logging" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.apache.http" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.hibernate.validator" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<Logger name="org.springframework" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</Logger>
		<AsyncLogger name="com.cribbstechnologies.clients.mandrill" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.mongodb.driver" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.quartz" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncRoot level="debug">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncRoot>
	</Loggers>
</Configuration>
