<h2>You have a new order #@@READABLE_ORDER_ID@@ for @@USER_FIRST@@ @@USER_LAST@@</h2>
<p>This is for <strong>@@ORDER_QUANTITY@@</strong> servings of <strong>@@DISH_NAME@@</strong>
  for a value of <strong>@@ORDER_CURRENCY@@@@ORDER_AMOUNT@@</strong> with pickup
  at <strong>@@ORDER_PICKUP_DATE@@</strong>.</p>
<p>
  Do you accept the order?<br>
  <a id="button" style=" color:#ffffff!important;display:inline-block;font-weight:500;font-size:16px;line-height:42px;font-family:'Helvetica',Arial,sans-serif;width:auto;white-space:nowrap;min-height:42px;margin:12px 5px 12px 0;padding:0 22px;text-decoration:none;text-align:center;border:0;border-radius:3px;vertical-align:top;background-color:green!important;" href="@@WEB_ADDRESS@@/execution/u:@@USER_ID@@;o:@@ORDER_ID@@;c:true;t:@@ORDER_CODE@@" target="_blank">
    <span style="display:inline;font-family:'Helvetica',Arial,sans-serif;text-decoration:none;font-weight:500;font-style:normal;font-size:16px;line-height:42px;border:none;background-color:green!important;color:#ffffff!important">
      Yes
    </span>
  </a>
  <a id="button" style=" color:#ffffff!important;display:inline-block;font-weight:500;font-size:16px;line-height:42px;font-family:'Helvetica',Arial,sans-serif;width:auto;white-space:nowrap;min-height:42px;margin:12px 5px 12px 0;padding:0 22px;text-decoration:none;text-align:center;border:0;border-radius:3px;vertical-align:top;background-color:red!important;" href="@@WEB_ADDRESS@@/execution/u:@@USER_ID@@;o:@@ORDER_ID@@;c:false;t:@@ORDER_CODE@@" target="_blank">
    <span style="display:inline;font-family:'Helvetica',Arial,sans-serif;text-decoration:none;font-weight:500;font-style:normal;font-size:16px;line-height:42px;border:none;background-color:red!important;color:#ffffff!important">
      No
    </span>
  </a>
</p>
<p style="padding:0 0 10px 0;">
  Thanks,<br>
  The @@TEAM_NAME@@ Team
</p>