<h2>Hi @@NAME@@,</h2>
Thanks for joining the BE MY CHEF mailing list.<br>
To complete your subscription, you need to confirm you got this email.<br>
To do so, please click the link below:<br>
<a id="button" style=" color:#ffffff!important;display:inline-block;font-weight:500;font-size:16px;line-height:42px;font-family:'Helvetica',Arial,sans-serif;width:auto;white-space:nowrap;min-height:42px;margin:12px 5px 12px 0;padding:0 22px;text-decoration:none;text-align:center;border:0;border-radius:3px;vertical-align:top;background-color:#2db2ea!important;" href="@@ADDRESS@@@@FOLDER@@/activation/u:@@EMAIL@@;k:@@CHECK@@" target="_blank">
  <span style="display:inline;font-family:'Helvetica',Arial,sans-serif;text-decoration:none;font-weight:500;font-style:normal;font-size:16px;line-height:42px;border:none;background-color:#2db2ea!important;color:#ffffff!important">
	    Yes, validate my account.
  </span>
</a>
<br>
We are currently finalising details to launch ASAP and will be in contact as soon as everything is ready. We look forward to bringing restaurant food into your home!<br>
<div>
  <p style="padding:0 0 10px 0;">
    Thanks,<br>
    The @@TEAM_NAME@@ Team
  </p>
  <p style="padding:0 0 10px 0;">P.S. Should you be interested in taking part in the BETA testing phase, please contact us on <a id="email" style="color:#336699;" href="mailto:hello@bemychef.com.au" target="_blank">hello@bemychef.com.au</a>. 
    <br>For any marketing or PR questions, please contact <a id="email" style="color:#336699;" href="mailto:lucy@bemychef.com.au" target="_blank">lucy@bemychef.com.au</a>
  </p>
</div>