<h2>Hi @@FIRST@@,</h2>
Welcome to the BE MY CHEF community. Please click on the following link to confirm:<br>
<a id="button" style=" color:#ffffff!important;display:inline-block;font-weight:500;font-size:16px;line-height:42px;font-family:'Helvetica',Arial,sans-serif;width:auto;white-space:nowrap;min-height:42px;margin:12px 5px 12px 0;padding:0 22px;text-decoration:none;text-align:center;border:0;border-radius:3px;vertical-align:top;background-color:#2db2ea!important;" href="@@ADDRESS@@/activation/u:@@EMAIL@@;k:@@CHECK@@" target="_blank">
  <span style="display:inline;font-family:'Helvetica',Arial,sans-serif;text-decoration:none;font-weight:500;font-style:normal;font-size:16px;line-height:42px;border:none;background-color:#2db2ea!important;color:#ffffff!important">
	    Yes, activate my account
  </span>
</a>
<br>
<div>
  <p style="padding:0 0 10px 0;">
    Thanks,<br>
    The @@TEAM_NAME@@ Team
  </p>
</div>