<h2>@@CATERER_NAME@@ (@@CATERER_PHONE@@) has a new order #@@READABLE_ORDER_ID@@ for @@USER_EMAIL@@</h2>
<p>This is for <strong>@@ORDER_QUANTITY@@</strong> servings of <strong>@@DISH_NAME@@</strong>
  for a value of <strong>@@ORDER_CURRENCY@@@@ORDER_AMOUNT@@</strong> with pickup
  at <strong>@@ORDER_PICKUP_DATE@@</strong>.</p>
<p style="padding:0 0 10px 0;">
  Dear customer success managers, please contact the restaurant if a decision has not been provided within 5 minutes.<br>
</p>
<p style="padding:0 0 10px 0;">
  Thanks,<br>
  The @@TEAM_NAME@@ Team
</p>