Name: @@NAME@@<br>
Dish name: @@DISH_NAME@@<br>
Team name: @@TEAM_NAME@@<br>

<div id="container"
	style="background-color: #f2f2f2; width: 100%; height: 600px;">
	<div id="main" style="padding-top: 100px;">
		<table id="logoTable"
			style="margin: auto; border: 0; cellpadding: 0; cellspacing: 0; width: 600px;">
			<tbody>
				<tr>
					<td><img style="width: 580px"
						src="http://www.bemychef.com.au/assets/img/logo/logo-color-L.png" />
					</td>
				</tr>
			</tbody>
		</table>
		<table id="dataTable"
			style="border: 0; cellpadding: 0; cellspacing: 0; width: 600px; border-radius: 6px; background-color: #ffffff; margin: auto;">
			<tbody>
				<tr>
					<td
						style="line-height: 150%; font-family: Verdana; font-size: 14px; color: #333333; padding: 20px; valign: top; align: left;">
						<h2>Thank you for ordering</h2>
						<div>
							<p style="padding: 0 0 10px 0;">We are contacting the restaurant for you. You will receive an email as soon as the restaurant accepted the order.</p>
						</div>
						<div>
							<p style="padding: 0 0 10px 0;">If you received this email by
								mistake, simply delete it.</p>
							<p style="padding: 0 0 10px 0;">
								For questions about this email, please contact: <br> <a
									id="email" style="color: #336699;"
									href="mailto:hello@bemychef.com.au" target="_blank">hello@bemychef.com.au</a>
							</p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>