<div id="container" style="background-color:#f2f2f2;width:100%;height:600px;">
  <div id="main" style="padding-top:100px;padding-bottom:100px">
     <table id="logoTable" style="margin:auto;border:0;cellpadding:0;cellspacing:0;width:600px;">
      <tbody>
        <tr>
          <td>
            <img style="width: 580px" src="http://www.bemychef.com.au/assets/img/logo/logo-color-L.png" />
          </td>
        </tr>
      </tbody>
    </table>
    <table id="dataTable" style="border:0;cellpadding:0;cellspacing:0;width:600px;border-radius:6px;background-color:#ffffff;margin:auto;">
      <tbody>
        <tr>
          <td style="line-height:150%;font-family:Verdana; font-size:14px;color:#333333;padding:20px;valign: top;align: left;">
            @@CONTENT@@
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>